---
import ProductItem from "../components/ProductItem.astro";
import Layout from "@/components/Layout.astro";
import FeatureImage from "../assets/images/home/feature-1.webp";
import { Image } from "astro:assets";
import OrderButton from "@/components/product/OrderButton";
import { fetchHome } from "src/lib/homeFetcher";

const homePageData = await fetchHome();
const products = homePageData.allProducts;
const content = homePageData.pageContent;
const singleMenus = products.filter((product) => product.powderType);
const blendMenus = products.filter((product) => !product.powderType);
---

<Layout>
  <article
    class="container relative mx-auto flex flex-col gap-y-4 px-2 py-3 lg:px-5 lg:py-5 xl:px-0"
  >
    <section class="container hero w-full">
      <div
        class="container flex w-full flex-col justify-center gap-x-2 gap-y-2 p-0 md:flex-row md:items-center md:gap-x-4 lg:gap-x-8"
      >
        {
          content.heroSection.heroImage.responsiveImage ? (
            <Image
              src={content.heroSection.heroImage.responsiveImage.src}
              height={content.heroSection.heroImage.responsiveImage.height}
              width={content.heroSection.heroImage.responsiveImage.width}
              srcset={content.heroSection.heroImage.responsiveImage.webpSrcSet}
              alt="feature-image-1"
              class="rounded-md"
            />
          ) : (
            <Image
              src={FeatureImage}
              alt="feature-image-1"
              class="rounded-md"
              width={480}
            />
          )
        }
        <div class="flex flex-1 flex-col gap-y-2">
          <h2 class="text-lg font-bold text-primary md:w-fit">
            {content.heroSection.heroTitle || `มัทฉะเกรดพิธีการ`}
          </h2>
          <p
            class="whitespace-pre-line font-ibm-plex-sans-thai text-sm lg:text-base"
          >
            {
              content.heroSection.heroDescription ||
                `ที่ร้านริว เราใช้ผงมัทฉะระดับ Ceremonial Grade
            หรือเกรดพิธีการในการชงทุกเมนู เพื่อให้ได้คุณภาพที่ดีที่สุด
            สร้างรสชาติที่เข้มข้นซับซ้อน มีความอูมามิและกลิ่นหอม
            สร้างประสบการณ์การดื่มชาขึ้นอีกขั้น`
            }
          </p>
          <div class="flex gap-x-2">
            <a href="#contact" class="btn btn-primary btn-sm">มาหาเรา</a>
            <OrderButton
              className="btn btn-outline btn-primary btn-sm"
              client:only="react"
            >
              สั่งซื้อชาเขียว
            </OrderButton>
          </div>
        </div>
      </div>
    </section>

    <section id="menu" class="mx-auto flex flex-col gap-y-2">
      <hr class="border-t border-primary/30" />
      <h2 class="mt-2 text-lg font-bold text-primary lg:mt-3 lg:text-2xl">
        Single Cultivar
      </h2>
      <p class="mb-3 text-xs text-slate-500 md:text-sm lg:mb-6">
        เมนูมัทฉะสายพันธุ์เดี่ยว
      </p>
      <div
        class="mb-3 grid grid-cols-2 grid-rows-[repeat(4,_auto)] gap-3 md:grid-cols-3 lg:grid-cols-4"
      >
        {singleMenus.map((product) => <ProductItem product={product} />)}
      </div>
      <hr class="border-t border-primary/30" />
      <h2 class="mt-2 text-lg font-bold text-primary lg:mt-3 lg:text-2xl">
        Blend
      </h2>
      <p class="mb-3 text-xs text-slate-500 md:text-sm lg:mb-6">
        เมนูมัทฉะเบลนด์สูตรเฉพาะของทางร้าน
      </p>
      <ul
        class="grid grid-cols-2 grid-rows-[repeat(4,_auto)] gap-3 md:grid-cols-3 lg:grid-cols-4"
      >
        {blendMenus.map((product) => <ProductItem product={product} />)}
      </ul>
    </section>
  </article>
</Layout>
