---
import { Picture } from 'astro:assets'
import type { Product } from '../types'
import OrderButton from './product/OrderButton'

type Props = {
  product: Product
}
const { product } = Astro.props
---

<div
  class="relative flex flex-col overflow-hidden rounded-md bg-base-100 shadow"
>
  <Picture
    src={product.coverImage.responsiveImage.src}
    sizes={product.coverImage.responsiveImage.sizes}
    srcset={product.coverImage.responsiveImage.srcSet}
    width={product.coverImage.responsiveImage.width}
    height={product.coverImage.responsiveImage.height}
    alt={product.name}
    decoding={"async"}
    densities={[1.5, 2]}
    loading="eager"
  />
  {
    product.bestSeller ? (
      <div class="badge badge-accent absolute right-1 top-1 z-badge rounded-full px-2 py-1 font-ibm-plex-sans-thai text-xs font-bold text-white shadow">
        ขายดี
      </div>
    ) : product.recommended ? (
      <div class="badge badge-primary absolute right-1 top-1 z-badge rounded-full px-2 py-1 font-ibm-plex-sans-thai text-xs font-bold shadow">
        Recommended
      </div>
    ) : null
  }
  <div class="flex flex-grow flex-col gap-y-1 p-1 lg:p-3">
    <h3 class="text-lg font-bold">{product.name}</h3>
    {
      product.tasteNote && (
        <div class="flex flex-row flex-wrap items-center gap-x-1 gap-y-1">
          <h4 class="badge badge-primary badge-outline badge-xs">taste note</h4>
          <span class="font-poppins text-xs">
            {product.tasteNote
              .split(",")
              .map((tn) => tn.trim())
              .join(" • ")}
          </span>
        </div>
      )
    }
    {
      product.description && (
        <p class="text-pretty text-base text-neutral-600">
          {product.description}
        </p>
      )
    }
  </div>
</div>
